<%= title("Teams") %>
<h1>Teams</h1>

<div class="row height d-flex justify-content-end mb-2 p-0 pe-md-2">
  <div class="col-4 col-md-3 mb-2 mb-md-0">
    <%= link_to "New", new_team_path, class: "btn btn-secondary semi-bold w-100 overflow-ellipsis" %>
  </div>
</div>
<div id="teams">
  <table class="table table-hover table-borderless table-responsive">
    <thead>
      <tr>
        <th scope="col">
          <div class="th-inner">
            Joined
          </div>
        </th>
        <th scope="col">
          <div class="th-inner">
            Address
          </div>
        </th>
        <th scope="col">
          <div class="th-inner">
            Company
          </div>
        </th>
        <th scope="col">
          <div class="th-inner">
            No. of Employees
          </div>
        </th>
        <th scope="col">
          <div class="th-inner">
            Actions
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @teams.each do |team| %>
        <%= render partial: "teams/teams_table_row", locals: { team: team } %>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @teams %>
