<div class="row height d-flex justify-content-end mb-2 p-0 pe-md-2">
  <div class="col-6 col-md-3 mb-2 mb-md-0">
    <%= link_to "New Team", new_team_path, class: "btn btn-secondary semi-bold w-100" %>
  </div>
  <div class="col-6 col-md-3 mb-2 mb-md-0">
    <%= link_to "Teams", teams_path, class: "btn btn-secondary semi-bold w-100" %>
  </div>
</div>
<div id="team">
  <table class="table table-hover table-borderless table-responsive">
    <thead>
      <tr>
        <th scope="col">
          <div class="th-inner">
            Joined
          </div>
        </th>
        <th scope="col">
          <div class="th-inner">
            First Name
          </div>
        </th>
        <th scope="col">
          <div class="th-inner">
            Last Name
          </div>
        </th>
        <th scope="col">
          <div class="th-inner">
            Role
          </div>
        </th>
        <th scope="col">
          <div class="th-inner">
            Actions
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @team.users.each do |user| %>
        <%= render partial: "users/users_table_row", locals: { user: user } %>
      <% end %>
    </tbody>
  </table>
</div>
