<%= title("Delivery #{@delivery.id}")%>


<%= render @delivery %>

<div>
  <%= link_to "Edit this delivery", edit_delivery_path(@delivery), class: 'btn btn-primary' %> 

  <%= button_to "Destroy this delivery", @delivery, method: :delete, class: 'btn btn-danger' %>
</div>
