<h1>Companies</h1>

<div class="row height d-flex justify-content-end mb-2 p-0 pe-md-2">
  <div class="col-12 col-md-3 mb-2 mb-md-0">
    <%= link_to new_company_path, class: "btn btn-secondary semi-bold w-100 overflow-ellipsis" do %>
      <i class="bi bi-clipboard-plus"></i>
      <%= t("company.index.new-button-label") %>
    <% end %>
  </div>
</div>
<div id="companies">
  <table class="table table-hover table-borderless table-responsive">
    <thead>
      <tr>
        <th scope="col">
          <div class="th-inner">
            Joined
          </div>
        </th>
        <th scope="col">
          <div class="th-inner">
            Name
          </div>
        </th>
        <th scope="col">
          <div class="th-inner">
            Tax Id
          </div>
        </th>
        <th scope="col">
          <div class="th-inner">
            Teams
          </div>
        </th>
        <th scope="col">
          <div class="th-inner">
            Actions
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @companies.each do |company| %>
        <%= render partial: "companies/companies_table_row", locals: { company: company } %>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @companies %>
