<div class="latest-time-container">
  <div class="col-md-12">
    <%= t("delivery.form.latest-delivery-label") %> <span class="semi-bold" id="expected-day"><%= format_delivery_day(@delivery.expected_time) %></span>  <span class="expected-time semi-bold"><%= format_delivery_time(@delivery.expected_time) %></span>
  </div>
</div>
