@import "variables";

body {
  --bs-body-font-family: "Montserrat";
  --bs-body-bg: #F2F4F8;
  --bs-body-font-size: 0.875rem;
}

#delivery-form {
  .btn {
    border-radius: 0.75rem;
    filter: drop-shadow(0px 8.49949px 33.9979px rgba(0, 0, 0, 0.12));
  }

  .btn-primary {
    color: #06158F;
    background-color: #F7E2B5;
    border-color: #F7E2B5;
  }

  .btn-check:checked + .btn-outline-primary, 
  .btn-check:active + .btn-outline-primary,
  .btn-outline-primary:active,
  .btn-outline-primary.active,
  .btn-outline-primary.dropdown-toggle.show {
    color: #06158F;
    background-color: #F7E2B5;
    border-color: #F7E2B5;
  }

  .btn-outline-primary {
    color: #06158F;
    border-color: transparent;
    background: #F7E2B557;
  }

  .btn-radio {
    font-size: 0.75rem
  }

  h4, h5, .bold {
    --bs-body-font-family: "Montserrat";
    font-weight: 700;
  }

  .semi-bold, ::placeholder {
    --bs-body-font-family: "Montserrat";
    font-weight: 600;
  }

  ::placeholder {
    color: #8F8F8F;
    font-size: 0.75em;
  }

  input:not([type=submit]), textarea {
    background: #2C25D20D;
  }

  .button-and-explainer {
    text-align: center;
  }

  .form-control {
    border: 1px solid transparent;
  }

  #delivery_address_notes{
    min-height: calc(6.5em + 0.75rem + 2px);
  }
}
