<ul class="nav flex-column">
  <li class="nav-item d-flex justify-content-center">
    <%= link_to t("delivery.new-link"), new_delivery_path, class: 'nav-link' %>
  </li>
  <li class="nav-item d-flex justify-content-center">
    <%= link_to t("delivery.all-link"), deliveries_path, class: 'nav-link' %>
  </li>
</ul>
